

.navLetters {
    font-family: michroma; 
}

.title {
    font-family: montserrat-ExtraBold; 
    font-size: 60px;
}

.text {
    font-family: montserrat-SemiBold; 
    font-size: 35px;
}

.victorName {
    font-family: montserrat-SemiBold;
    font-size: 30px;
    color: rgb(50, 2, 95);
}

.victorFrase {
    font-family: montserrat-SemiBold;
    font-size: 30px;
}

.victorBG {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 22%, rgba(162,19,198,1) 58%);
}

.how {
    font-family: montserrat-ExtraBold; 
    font-size: 40px;
}

.worm {
    position: relative;
}

.wormsAbsolute {
    position: absolute;
    text-align: center;
    top: 40%;
    font-family: montserrat-ExtraBold;
    font-size: 48px;
}

.tableText {
    font-family: montserrat-Light;
    font-size: 30px;

}

.orange {
    color: darkorange;
}

.tableText1 {
    font-family: montserrat-Light;
    font-size: 20px;
}

.tableText2 {
    font-family: montserrat-ExtraBold;
    font-size: 16px;
}

.footLetters {
    font-family: michroma; 
    font-size: 20px;
}

.modal { 
    /*--bs-modal-bg: #00000000 !important; */
    --bs-modal-bg: #000000 !important;
}

.buttonModal {
    background-color: rgb(219, 83, 33);
}